p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


h1, h2, h3, h4, h5 {
  font-weight: bold;
}

main ol, main ul {
  margin-bottom: 1rem;
}
main li {
  margin-bottom: 0;
}

.sidebar li.book-part {
  border-bottom: 1px solid #ccc;
}

.chapter-nav .prev,
.chapter-nav .next {
  border-radius: 0.5rem;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.15);
}


@media (min-width: 1200px) {
  body {
    font-size: 1rem;
  }
}
