/*
html {
  overflow: hidden;
}
.container-fluid,
.container-fluid > .row {
  height: 100%;
}
main {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 10px;
}
*/
.book-toc > li:nth-child(7),
.book-toc > li:nth-child(13),
.book-toc > li:nth-child(18),
.book-toc > li:nth-child(21),
.book-toc > li:nth-child(28),
.book-toc > li:nth-child(29),
.book-toc > li:nth-child(31),
.book-toc > li:nth-child(32),
.book-toc > li:nth-child(33),
.book-toc > li:nth-child(35),
.book-toc > li:nth-child(36),
.book-toc > li:nth-child(37),
.book-toc > li:nth-child(38),
.book-toc > li:nth-child(44),
.book-toc > li:nth-child(48),
.book-toc > li:nth-child(50),
.book-toc > li:nth-child(51),
.book-toc > li:nth-child(52) {
  padding-left: 10px;
}
/* .book-toc > li:nth-child(7) > a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
*/
.book-toc > li:nth-child(8),
.book-toc > li:nth-child(9),
.book-toc > li:nth-child(10),
.book-toc > li:nth-child(11),
.book-toc > li:nth-child(12),
.book-toc > li:nth-child(14),
.book-toc > li:nth-child(15),
.book-toc > li:nth-child(16),
.book-toc > li:nth-child(17),
.book-toc > li:nth-child(19),
.book-toc > li:nth-child(20),
.book-toc > li:nth-child(45),
.book-toc > li:nth-child(46),
.book-toc > li:nth-child(47) {
  padding-left: 20px;
}

ul.list-unstyled:nth-child(1) > li:nth-child(1) {
  display: none;
}

footer {
  display: none;
}


.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


h1, h2, h3, h4, h5 {
  font-weight: bold;
}

main ol, main ul {
  margin-bottom: 1rem;
}
main li {
  margin-bottom: 0;
}

li > a {
  padding-left: 10px;
}

main li > a,
main p > a{
	font-weight: 600;
}

.sidebar .book-part {
  border-bottom: 1px solid #ccc;
}

.chapter-nav .prev,
.chapter-nav .next {
  border-radius: 0.5rem;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.15);
}
.chapter-nav {
  margin-bottom: 1rem;
}

/* .collapse-lg.show {
  border-radius: 7px;
  border: none;
  box-shadow: 0 0 10px rgba(0.1, 0.1, 0.1, 0.5);
}
*/


@media (min-width: 1200px) {
  body {
    font-size: 1rem;
  }
}
