:root {
  --theme-first-color: #363945;
  --theme-second-color: #EFE1CE;
}

body {
  color: var(--theme-first-color);;
}

header {
  padding-bottom: 20px;
}

.hide_label {
  visibility: hidden;
}

a {
  color: var(--theme-first-color);
}

li.book-part {
  font-weight: bold;
  text-transform: uppercase;
  position: sticky;
  top: 2rem;
  background: white;
  padding-top: 1rem;
  margin-top: 0 !important;
  z-index: 2;
}
.sidebar .book-part {
  border-bottom: 2px solid var(--theme-second-color) !important;
}
.book-extra {
  border-top: 2px solid var(--theme-second-color);
}

.book-toc > li:nth-child(2),
.book-toc > li:nth-child(3),
.book-toc > li:nth-child(5),
.book-toc > li:nth-child(11),
.book-toc > li:nth-child(17),
.book-toc > li:nth-child(22),
.book-toc > li:nth-child(25),
.book-toc > li:nth-child(32),
.book-toc > li:nth-child(33),
.book-toc > li:nth-child(35),
.book-toc > li:nth-child(36),
.book-toc > li:nth-child(37),
.book-toc > li:nth-child(39),
.book-toc > li:nth-child(40),
.book-toc > li:nth-child(41),
.book-toc > li:nth-child(42),
.book-toc > li:nth-child(49),
.book-toc > li:nth-child(53),
.book-toc > li:nth-child(55),
.book-toc > li:nth-child(56),
.book-toc > li:nth-child(57),
.book-toc > li:nth-child(60),
.book-toc > li:nth-child(61),
.book-toc > li:nth-child(62),
.book-toc > li:nth-child(64),
.book-toc > li:nth-child(66),
.book-toc > li:nth-child(67),
.book-toc > li:nth-child(76),
.book-toc > li:nth-child(77),
.book-toc > li:nth-child(78),
.book-toc > li:nth-child(80),
.book-toc > li:nth-child(81),
.book-toc > li:nth-child(82),
.book-toc > li:nth-child(83),
.book-toc > li:nth-child(85),
.book-toc > li:nth-child(86),
.book-toc > li:nth-child(87),
.book-toc > li:nth-child(92),
.book-toc > li:nth-child(101),
.book-toc > li:nth-child(102),
.book-toc > li:nth-child(103),
.book-toc > li:nth-child(104),
.book-toc > li:nth-child(105),
.book-toc > li:nth-child(106),
.book-toc > li:nth-child(107),
.book-toc > li:nth-child(108),
.book-toc > li:nth-child(109),
.book-toc > li:nth-child(110),
.book-toc > li:nth-child(111),
.book-toc > li:nth-child(112),
.book-toc > li:nth-child(113),
.book-toc > li:nth-child(122),
.book-toc > li:nth-child(123) {
  padding-left: 10px;
}

.book-toc > li:nth-child(12),
.book-toc > li:nth-child(13),
.book-toc > li:nth-child(14),
.book-toc > li:nth-child(15),
.book-toc > li:nth-child(16),
.book-toc > li:nth-child(18),
.book-toc > li:nth-child(19),
.book-toc > li:nth-child(20),
.book-toc > li:nth-child(21),
.book-toc > li:nth-child(23),
.book-toc > li:nth-child(24),
.book-toc > li:nth-child(50),
.book-toc > li:nth-child(51),
.book-toc > li:nth-child(52),
.book-toc > li:nth-child(68),
.book-toc > li:nth-child(69),
.book-toc > li:nth-child(70),
.book-toc > li:nth-child(93),
.book-toc > li:nth-child(94),
.book-toc > li:nth-child(95),
.book-toc > li:nth-child(96),
.book-toc > li:nth-child(97),
.book-toc > li:nth-child(98),
.book-toc > li:nth-child(99),
.book-toc > li:nth-child(114),
.book-toc > li:nth-child(118) {
  padding-left: 20px;
}

.book-toc > li:nth-child(115),
.book-toc > li:nth-child(116),
.book-toc > li:nth-child(117),
.book-toc > li:nth-child(119),
.book-toc > li:nth-child(120),
.book-toc > li:nth-child(121) {
  padding-left: 30px;
}

.book-toc > li:nth-child(100) {
  position: sticky;
  top: 4.3rem;
  background: white;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 0.5rem;
  z-index: 1;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
}

ul.list-unstyled:nth-child(1) > li:nth-child(1) {
  display: none;
}

.d-flex > h1:nth-child(1) {
  text-align: center;
  width: 100%;
}
.d-flex > h1:nth-child(1) > a {
  padding: 0 10px;
}
form[role="search"] {
  position: sticky;
  top: 0;
  z-index: 100;
}
form[role="search"] > span {
  width: 100%;
}
#search {
  border: 3px solid var(--theme-second-color);
  box-shadow: unset;
}
span#algolia-autocomplete-listbox-0 {
  border: 3px solid var(--theme-second-color);
}


.chapter-nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0;
}
.chapter-nav .prev,
.chapter-nav .next {
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  border: none;
  background: transparent;
}
.chapter-nav .prev > a,
.chapter-nav .next > a {
  padding: 10px;
  background: var(--theme-second-color);
  color: var(--theme-first-color);
  border-radius: 10px;
}
.chapter-nav .prev > a:hover,
.chapter-nav .next > a:hover {
  background: var(--theme-first-color);
  color: var(--theme-second-color);
  text-decoration: none;
}

#content > div:nth-child(4) {
  display: none;
}

a:hover {
  background: var(--theme-second-color);
  text-decoration: none;
  border-radius: 3px;
}

.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


h1, h2, h3, h4, h5 {
  font-weight: bold;
}

main#content > div:nth-child(1) {
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--theme-second-color) !important;
}
main#content > div > h1 {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--theme-second-color) !important;
}

main h2 {
  position: sticky;
  top: 0;
  background: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 2;
}
.no-stick {
  position: unset;
  top: unset;
}
main h3 {
  position: sticky;
  top: 4.9rem;
  background: white;
  z-index: 1;
  padding-bottom: 10px;
}

main ol, main ul {
  margin-bottom: 1rem;
}
main li {
  margin-bottom: 0;
}

ul.book-toc > li > a {
  padding-left: 10px;
  display: block;
}
ul.book-toc > li > a.active,
ul.book-toc > li > a:hover {
  padding-right: 10px;
  background: var(--theme-second-color);
  text-decoration: none;
  border-radius: 5px;
}

.navbar-nav {
  padding-left: 10px;
}
nav[data-toggle="toc"] .nav > li > a:hover {
  text-decoration: none;
}
.navbar-nav > a:hover {
  background: var(--theme-second-color);
  text-decoration: none !important;
  border-radius: 5px;
}
.nav-link.active {
  background: var(--theme-second-color) !important;
  border-radius: 5px;
}
#book-edit,
#buymeacoffee {
  padding-left: 10px;
}
#book-edit:hover {
  padding-right: 10px;
  background: var(--theme-second-color);
  text-decoration: none;
  border-radius: 5px;
}

main li > a,
main p > a {
	font-weight: 600;
}

.sidebar .book-part {
  border-bottom: 1px solid #ccc;
}

mark, .mark {
  padding: .2em;
  background-color: #efe1ce;
  border-radius: 0 5px 5px 0;
  border-bottom: 2px solid var(--theme-first-color);
}
mark {
  background: linear-gradient(-100deg, hsl(35deg 51% 87% / 30%), hsl(35deg 51% 87% / 70%) 95%, #efe1ce);
}




@media (min-width: 1200px) {
  body {
    font-size: 1rem;
  }
}

@media (max-width: 991.98px) {
  .collapse-lg {
    display: none;
    background: white;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px 2px #7F7F7F;
  }
  .book-toc > li:nth-child(3),
  .book-toc > li:nth-child(15),
  .book-toc > li:nth-child(25) {
    top: unset;
  }
}
